<div class="ui horizontal divider header">
  *ngIf
</div>
<app-ng-if></app-ng-if>
<div class="ui horizontal divider header">
  [ngSwitch]
</div>
<app-ng-switch>*ngSwitch</app-ng-switch>
<div class="ui horizontal divider header">
  [ngStyle]
</div>
<app-ng-style>*ngStyle</app-ng-style>
<div class="ui horizontal divider header">
	[ngClass]
</div>
<app-ng-class></app-ng-class>
<div class="ui horizontal divider header">
	*ngFor
</div>
<app-ng-for></app-ng-for>
<div class="ui horizontal divider header">
	ngNonBindable
</div>
<app-ng-non-bindable></app-ng-non-bindable>
